.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}