:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --offWhite: hsl(0, 0%, 100%) Off;
    --white: hsl(0, 0%, 94%) Light;
    --smokeyGrey: hsl(0, 0%, 86%) Smokey;
    --grey: hsl(0, 1%, 44%) Off;
    --black: hsl(0, 0%, 8%);

    --inputFontSize: 32px;

    --primary-font: 'Poppins', sans-serif;

}

* {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font);
    background-color: var(--grey);
}


.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.app-wrapper {
    color: var(--white);
    border-radius: 20px 20px 200px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    max-width: 60vw;
    max-height: 80vh;
    padding: 60px 40px;

    @media (max-width: 768px) {
        padding: 40px 20px;
        border-radius: 20px 20px 150px 20px;
        max-width: 90vw;
    }

    @media (max-width: 480px) {
        border-radius: 20px 20px 100px 20px;
        padding: 20px 10px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

label {
    text-transform: uppercase;
    max-width: 75%;
}

input {
    font-size: var(--inputFontSize);
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--grey);

    @media (max-width: 768px) {
        font-size: calc(var(--inputFontSize) * 0.8);
    }

    @media (max-width: 480px) {
        font-size: calc(var(--inputFontSize) * 0.6);
    }

    &:focus {
        outline: none;
        border: 3px solid var(--purple);
    }
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    width: 100px;
    height: 100px;
    border-radius: 50%;

    @media (max-width: 768px) {
        width: 80px;
        height: 80px;
    }

    @media (max-width: 480px) {
        width: 60px;
        height: 60px;
    }

    &:hover {
        background-color: var(--black);
        cursor: pointer;
    }
}

.age-display {
    margin-bottom: 20px;
    font-size: 100px;
    font-weight: 800;
    font-style: italic;
    transition: all 0.5s ease-in-out;

    @media (max-width: 768px) {
        font-size: 80px;
    }

    @media (max-width: 480px) {
        font-size: 40px;
    }

    span {
        color: var(--purple);
    }

}

.invalid {
    border: 3px solid var(--light-red);
}

.error {
    color: var(--light-red);
    text-transform: initial;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}
