:root {
    --purple: hsl(259, 100%, 65%);
    --light-red: hsl(0, 100%, 67%);

    --offWhite: hsl(0, 0%, 100%) Off;
    --white: hsl(0, 0%, 94%) Light;
    --smokeyGrey: hsl(0, 0%, 86%) Smokey;
    --grey: hsl(0, 1%, 44%) Off;
    --black: hsl(0, 0%, 8%);

    --inputFontSize: 32px;

    --primary-font: 'Poppins', sans-serif;

}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    background-color: var(--grey);
}


.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.row {
    color: var(--white);
    border-radius: 20px 20px 200px 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

label {
    text-transform: uppercase;
}

input {
    font-size: var(--inputFontSize);
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid var(--grey);

    &:focus {
        outline: none;
        border: 3px solid var(--purple);
    }
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    width: 100px;
    height: 100px;
    border-radius: 50%;

    &:hover {
        background-color: var(--black);
        cursor: pointer;
    }
}

.age-display {

    font-size: 150px;
    font-weight: 800;
    font-style: italic;
    transition: all 0.5s ease-in-out;

    span {
        color: var(--purple);
    }

}

.invalid {
    border: 3px solid var(--light-red);
}

.error {
    color: var(--light-red);
    text-transform: initial;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
}
