
:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);

    --quote-font-size: 28px;
    --primary-font: 'Manrope', sans-serif;
    --font-weight: 800;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    font-family: var(--primary-font);
}

body {
    background-color: var(--dark-blue);
}



.advice-card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grayish-blue);
    border-radius: 15px;
    width: 600px;
    padding: 30px;

    & div {


        & .advice-id {
            text-transform: uppercase;
            letter-spacing: 3.5px;
            font-weight: bold;
            color: var(--neon-green);
        }

        & .advice-text {
            color: var(--light-cyan);
            font-weight: 800;
            font-size: var(--quote-font-size);
        }
    }
}

.dice-button {
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 75px;
    width: 75px;
    background-color: var(--neon-green);

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px var(--neon-green);
    }
}